.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to right, #391319 0%, #220510 50%, #391319 100%);
    z-index: 2;
    padding: 0 20px;
    transition: transform 300ms;
    &.is_hidden{
        transform: translateY(-100%);
    }
    &_inner{
        height: 110px;
        width: 100%;
        max-width: 1620px;
        margin: auto;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &_logo{
        padding: 0 10px;
    }
    &_profile{
        // position: absolute;
        border: 1px solid $white;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        &:hover, &:focus{
            border-color: $primary-color;
        }
    }
}