.video{
    text-align: center;
    background-image: url(../assets/img/bg_video.jpg);
    background-position: center top;
    &_inner{
        height: 100%;
        padding: 68px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &_container{
        margin-top: 95px;
    }
}