section.section.main(data-anchor='main')
    img(src="./assets/img/bg_main.jpg", alt="")
    //- .grid-container.main_inner
    .main_bottom
        button.button
            | Зарегистрировать чек
        p.main_terms
            | с 15 июля по 25 августа 2019