section.section.video(data-anchor='video')
    .grid-container.video_inner
        h2 Видео
        .responsive-embed.video_container
            iframe(width='560', height='315', src='https://www.youtube.com/embed/3w4qlNdyDc4?controls=0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')